<template>
  <div>
    <el-switch
      inactive-color="#ffd04b"
      active-color="#ff4949"
      v-model="collapse"
      @change="setSidebarState"
    />
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

export default {
  name: "Footer",
  data() {
    return {
      collapse: this.sidebarCollapsed
    };
  },
  methods: {
    ...mapMutations(["setSidebarState"])
  },
  computed: {
    ...mapGetters(["sidebarCollapsed"])
  }
};
</script>

<style></style>
