<template>
  <div v-if="accessToken">
    <app-top-nav-menu></app-top-nav-menu>
  </div>
  <div v-else>
    <app-top-nav-menu-auth></app-top-nav-menu-auth>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TopNavMenuAuth from "../../auth/components/TopNavMenuAuth";
import TopNavMenu from "./TopNavMenu";

export default {
  name: "Header",
  components: {
    appTopNavMenuAuth: TopNavMenuAuth,
    appTopNavMenu: TopNavMenu
  },
  computed: {
    ...mapGetters({
      accessToken: "accessToken"
    })
  }
};
</script>

<style></style>
