<template>
  <div>
    <div v-if="currentSidebar === 'crm'">
      <app-sidebar-company></app-sidebar-company>
    </div>
    <div v-else-if="currentSidebar === 'mailer'">
      <app-sidebar-email-grabber></app-sidebar-email-grabber>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import SidebarCompany from '../../crm/components/SidebarCRM';
import SidebarEmailGrabber from '../../mailer/components/SidebarMailer'

export default {
  name: "Sidebar",
  components: {
    appSidebarCompany: SidebarCompany,
    appSidebarEmailGrabber: SidebarEmailGrabber
  },
  computed: {
    ...mapGetters([
      'currentSidebar'
    ])
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
