<template>
  <div>
    <el-menu
      mode="horizontal"
      :default-active="activeIndex"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      @select="handleSelect"
    >
      <el-menu-item index="1">
        CRM
      </el-menu-item>
      <el-menu-item index="2">
        MAILER
      </el-menu-item>
      <el-submenu index="3">
        <template slot="title">
          USER
        </template>
        <el-menu-item index="3-1" disabled style="margin-right: 15px">
          User Profile
        </el-menu-item>
        <el-menu-item index="3-2" style="margin-right: 15px">
          Logout
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "TopNavMenu",
  data() {
    return {
      activeIndex: "1"
    };
  },
  methods: {
    ...mapMutations(["setSidebar", "setAccessToken"]),
    handleSelect(key, keyPath) {
      console.log(key);
      this.activeIndex = key;
      if (key === "1") {
        this.setSidebar("crm");
        this.$router.push({ path: "/" });
      } else if (key === "2") {
        this.setSidebar("mailer");
        this.$router.push("/mailer");
      } else if (key === "3-2") {
        this.setAccessToken(null);
        this.$router.push({ path: "/" });
      }
    }
  },
  created: function() {
    const routeName = this.$router.currentRoute.name;
    if (routeName === "home") {
      this.activeIndex = "1";
    }
  }
};
</script>

<style scoped></style>
