<template>
  <div v-if="accessToken">
    <app-user-dashboard></app-user-dashboard>
  </div>
  <div v-else>
    <app-login-required></app-login-required>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import LoginRequired from "../../auth/components/LoginRequired";
import UserDashboard from "../components/DashboardCRM";

export default {
  name: "home",
  components: {
    appLoginRequired: LoginRequired,
    appUserDashboard: UserDashboard
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      accessToken: "accessToken"
    })
  }
};
</script>

<style scoped></style>
