<template>
  <div>
    <el-menu
      mode="horizontal"
      :default-active="activeIndex"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      @select="handleSelect"
    >
      <el-menu-item index="1">
        Home
      </el-menu-item>
      <el-menu-item index="2">
        Login
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: "TopNavMenuAuth",
  data() {
    return {
      activeIndex: "1"
    };
  },
  methods: {
    handleSelect(key, keyPath) {
      this.activeIndex = key;
      if (key === "1") {
        this.$router.push({ path: "/" });
      } else if (key === "2") {
        this.$router.push({ path: "/login" });
      }
    }
  },
  created: function() {
    const routeName = this.$router.currentRoute.name;
    if (routeName === "home") {
      this.activeIndex = "1";
    } else if (routeName === "login") {
      this.activeIndex = "2";
    }
  }
};
</script>

<style scoped></style>
