<template>
  <div>
    <el-menu
      :default-openeds="[]"
      :default-active="`0`"
      :router="true"
      :collapse="sidebarCollapsed"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
      <el-menu-item index="0" :route="{ name: 'dashboardMailer' }">
        <i class="el-icon-s-home" />
        <span slot="title">Dashboard</span>
      </el-menu-item>
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-message" />
          <span slot="title">Emails</span>
        </template>
        <el-menu-item-group>
          <template slot="title">
            Email Management
          </template>
          <el-menu-item index="1-1">
            <span>List</span>
          </el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="Group 2">
          <el-menu-item index="1-3">
            Option 3
          </el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title">
            Option4
          </template>
          <el-menu-item index="1-4-1">
            Option 4-1
          </el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-submenu index="2">
        <template slot="title">
          <i class="el-icon-setting" />
          <span slot="title">Settings</span>
        </template>
        <el-menu-item-group>
          <template slot="title">
            Group 1
          </template>
          <el-menu-item index="2-1">
            Option 1
          </el-menu-item>
          <el-menu-item index="2-2">
            Option 2
          </el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="Group 2">
          <el-menu-item index="2-3">
            Option 3
          </el-menu-item>
        </el-menu-item-group>
        <el-submenu index="2-4">
          <template slot="title">
            Option 4
          </template>
          <el-menu-item index="2-4-1">
            Option 4-1
          </el-menu-item>
        </el-submenu>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "SidebarEmailGrabber",
  computed: {
    ...mapGetters(["sidebarCollapsed"])
  }
};
</script>

<style scoped></style>
