<template>
  <div>
    <el-table :data="companies.data">
      <el-table-column prop="company" label="Date" width="140" />
    </el-table>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Index",
  data() {
    const item = {
      date: "2016-05-02",
      company: "Tom",
      address: "No. 189, Grove St, Los Angeles"
    };
    return {
      tableData: Array(20).fill(item),
      companies: []
    };
  },
  methods: {
    ...mapActions(["fetchCompanies"])
  },
  computed: {
    ...mapGetters(["getCompanies"])
  },

  watch: {
    getCompanies(value) {
      this.companies = value;
    }
  },
  created() {
    this.fetchCompanies();
  }
};
</script>

<style scoped></style>
