<template>
  <div id="app">
    <el-container style="border: 1px solid #eee">
      <el-header style="text-align: right; font-size: 12px; height: 63px">
        <app-header></app-header>
      </el-header>
      <el-container :style="windowHeight">
        <el-aside
          v-if="accessToken"
          v-bind:width="sidebarWidth"
          style="background-color: rgb(238, 241, 246)"
        >
          <app-sidebar></app-sidebar>
        </el-aside>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
      <el-footer>
        <app-footer></app-footer>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import Header from "./modules/core/components/Header";
import Footer from "./modules/core/components/Footer";
import Sidebar from "./modules/core/components/Sidebar";
import { mapGetters } from "vuex";

export default {
  components: {
    appHeader: Header,
    appFooter: Footer,
    appSidebar: Sidebar
  },
  data() {
    return {
      windowHeight: ""
    };
  },
  created() {
    this.windowHeight = `height: ${window.innerHeight - 140}px`;
  },
  computed: {
    ...mapGetters(["accessToken", "sidebarWidth"])
  }
};
</script>

<style>
#app {
  font-family: Helvetica, sans-serif;
  text-align: left;
}
.el-header {
  background-color: #545c64;
  color: #333;
  line-height: 60px;
}
.el-aside {
  color: #333;
  background-color: #545c64;
}
.el-footer {
  background-color: #545c64;
  color: #333;
  line-height: 60px;
}
</style>
