<template>
  <div>
    <el-row>
      <el-col :lg="lg" :md="md">
        <el-alert
          v-if="error"
          title="You submitted wrong credentials!!!"
          type="error"
          style="margin-bottom: 20px"
          show-icon
        >
        </el-alert>
        <el-form ref="form" :model="form" label-position="top" label-width="120px">
          <el-form-item label="Email:" style="margin: 0px; padding: 0px">
            <el-input v-model="form.email" />
          </el-form-item>
          <el-form-item label="Password:" >
            <el-input v-model="form.password" show-password />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="login">
              Login
            </el-button>
            <el-button @click="clear">
              Clear
            </el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "Login",
  data() {
    return {
      md: { span: 12, offset: 6 },
      lg: { span: 8, offset: 8 },
      error: false,
      form: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    ...mapMutations(["setAccessToken"]),
    login() {
      const formData = {
        grant_type: "password",
        client_secret: this.$store.state.auth.client_secret,
        client_id: this.$store.state.auth.client_id,
        username: this.form.email,
        password: this.form.password
      };
      axios
        .post(this.$store.state.auth.domain + "/oauth/token", formData)
        .then(response => {
          this.setAccessToken(response.data.access_token);
          axios.defaults.baseURL = this.$store.state.auth.domain;
          axios.defaults.headers.common = {
            Authorization: `Bearer ${response.data.access_token}`,
            Accept: `application/json`
          };
          this.$router.push("/");
        })
        .catch(error => {
          this.error = true;
        });
    },
    clear() {
      this.form.email = "";
      this.form.password = "";
    }
  }
};
</script>

<style scoped></style>
